$bg-body: #F4F3E7;
$bg-card: #E8DCC6;
$secondary: #D8E5D6;
$accent-1: #00473C;
$accent-2: #E6FF55;
$dark: #0E150E;
$light: #FFFFFF;
$danger: #F9DFCE;
$success: #D8E5D6;
$info: #D6E9E9;


$auto-grid-min-size: 22rem;

