@use './variables' as v;
@mixin grid-responsive($auto-grid-min-size: v.$auto-grid-min-size) {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax($auto-grid-min-size, 1fr));
    grid-gap: 1rem;
}